* {
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  background-color: #e9ebee;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  width: 100%;
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-size: 25px;
  font-weight: 200;
}

.logo {
  font-family: "Permanent Marker", cursive;
  color: rgb(68, 32, 136);
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Montserrat", sans-serif;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0474bc;
}

/* =======================
******* Menu hamburguesa celulares ******
========================*/

.mobile-menu {
  display: block;
  list-style-type: none;
  background-color: rgba(243, 232, 243, 0.2);
  float: right;
  width: 200px;
  padding: 5px 20px 50px 0;
  border: 1px solid #eee;
  right: 0;
}

.mobile-links li {
  line-height: 2.8rem;
}

.mobile-btn {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  cursor: pointer;
}

.nav-list {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}

.nav-list:hover {
  opacity: 0.5;
  cursor: pointer;
}

nav {
  justify-content: center;
}

#menu-btn {
  position: relative;
  float: right;
  bottom: 65px;
  right: 10px;
}

/* =======================
******* FIN Menu hamburguesa celulares ******
========================*/

#intro {
  background-color: #fff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#pic {
  width: 300px;
  height: 300px;
  border-radius: 2%;
}

#foto {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#presentacion {
  text-align: center;
  position: relative;
  top: 15%;
  right: 8%;
}

#parrafo_principal {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: rgb(204, 66, 12);
}

#texto_principal {
  font-family: "Alata", sans-serif;
  font-size: 40px;
  color: rgb(68, 32, 136);
  font-weight: 600;
  margin-bottom: 15px;
}

.redes {
  color: lightslategray !important;
  margin: 20px 30px 0px 30px;
}

#proyectos {
  background: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  justify-items: center;
  overflow: visible;
  padding-top: 15%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card img {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERYS  */
/* Celular a Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #intro {
    width: 100%;
  }

  #links,
  .mobile-menu {
    display: none;
  }

  .redes {
    margin: 20px 10px 0px 10px;
  }
  #pic {
    width: 200px;
    height: 200px;
  }

  #parrafo_principal {
    font-size: 20px;
  }

  #texto_principal {
    font-size: 20px;
  }
}

/* Tablet a escritorio */
@media (min-width: 768px) {
  #intro {
    width: 100%;
  }

  .mobile-menu,
  .mobile-btn,
  .fa-bars {
    display: none;
  }

  .redes {
    margin: 20px 10px 0px 10px;
  }
}

@media (max-width: 600px) {
  #intro {
    width: 100%;
  }

  #pic {
    width: 200px;
    height: 200px;
  }

  #parrafo_principal {
    font-size: 20px;
  }

  #texto_principal {
    font-size: 20px;
  }
}

@media (max-width: 879px) {
  #proyectos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}
